.heading{

    font-size: 23px;
    width: 100%;
    margin: 0;
    
}

.note{

    color: black;
    font-size: 15px;

}

#song_name{

    font-size: 23px;
    
}

canvas{

    background-color: black;
    border: solid white 5px;
    box-shadow: 2px 2px 2px cyan;
    border-radius: 20px;
    margin-top: 20px;

}